<template>
  <PopupLayout :opened="popup.show" :disable-click-outside="popup.disableClickOutside">
    <div class="popup popup-confirm">
      <h2 v-if="popup.title" v-html="popup.title" class="header" />
      <p v-if="popup.message" v-html="popup.message" class="body" />
      <div class="footer">
        <Button v-if="popup.type==='confirm'" @click.native.stop="popup.callback" type="button" class="primary" value="확인" />
        <Button v-if="popup.type==='confirm'" @click.native.stop="onCancel" type="button" class="white" value="취소" />
        <Button v-if="popup.type==='alert'" @click.native.stop="onCancel" type="button" class="white" value="확인" />
      </div>
    </div>
  </PopupLayout>
</template>

<script>
import Button from '@/components/common/Button'
import PopupLayout from '@/components/common/PopupLayout'
export default {
  name: 'PopupAlert',
  components: { PopupLayout, Button },
  data() {
    return {}
  },
  computed: {
    opened: {
      get() {
        return this.show
      },
      set(value) {
        if (!value) {
        }
      },
    },
    popup() {
      return this.$store.state.common.popup
    },
  },
  methods: {
    onCancel() {
      this.$store.dispatch('common/dispatchClosePopup')
    },
  },
}
</script>
<style scoped lang="scss">

</style>
