<template>
  <div class="hamburger-menu-area">
    <img @click="isOpen=true" class="hamburger-menu" src="~/assets/images/icon-header-hamburger-menu.png" alt="Hamburger Menu Icon" />
    <div v-if="isOpen" @click="isOpen=false" class="fade"></div>
    <div :class="{ on: isOpen }" class="menu">
      <div class="header">
        <div class="logo-box">
          <h1 @click="goTo('/')" class="logo" />
          <img @click="isOpen=false" class="close" src="~/assets/images/icon-header-close-hamburger.png" alt="Close Hamburger Menu Button" />
        </div>
        <div v-if="!user" class="user-box">
          <button @click="goTo(`/auth/login?redirectUrl=${$route.path}`)">
            로그인
          </button>
          <button v-if="!user" @click="goTo(`/auth/signup?redirectUrl=${$route.path}`)">
            회원가입
          </button>
        </div>
        <div v-else class="member-box">
          <div class="profile">
            <!--<img class="user-image" :src="user.photo" alt="User Profile Image" />-->
            <h3 class="user-name">
              <span>{{ user.user_name }}</span>님 안녕하세요!
            </h3>
          </div>
          <button v-if="user" @click="logout">
            로그아웃
          </button>
        </div>
      </div>
      <div class="body">
        <ul class="menu-list">
          <li class="menu-item">
            전체여행지
          </li>
          <li class="menu-item">
            예약내역
          </li>
          <li class="menu-item">
            찜한상품
          </li>
          <li class="menu-item">
            쿠폰
          </li>
          <li class="menu-item">
            설정
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HamburgerMenuArea',
  data() {
    return {
      isOpen: false,
    }
  },
  computed: {
    user() {
      return this.$store.state.user
    },
  },
  watch: {
    isOpen(value) {
      if (value) {
        if (typeof document !== 'undefined') {
          document.body.style.overflow = 'hidden'
        }
      } else {
        document.body.style.overflow = 'unset'
        document.body.style.position = 'relative'
      }
    },
  },
  methods: {
    goTo(path) {
      this.$router.push(path)
      this.isOpen = false
    },
    logout() {
      this.$store.dispatch('dispatchLogout')
      this.isOpen = false
    },
  },
}
</script>
<style scoped lang="scss">
.hamburger-menu-area {
  height: 100%;
  display: none;
  position: relative;

  img.hamburger-menu {
    width: 26px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 8px;
    bottom: 0;
    margin: auto;
    cursor: pointer;
  }
  .fade {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.25);
    z-index: 900;
  }
  .menu {
    width: 340px;
    height: 100vh;
    position: absolute;
    left: -340px;
    top: 0;
    -webkit-transition: left 0.4s;
    -moz-transition: left 0.4s;
    -o-transition: left 0.4s;
    transition: left 0.4s;
    background-color: $color-white;
    z-index: 901;

    &.on {
      left: 0;
      -webkit-transition: left 0.4s;
      -moz-transition: left 0.4s;
      -o-transition: left 0.4s;
      transition: left 0.4s;
    }

    .header {
      padding: 20px;

      .logo-box {
        width: 100%;
        height: 40px;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        position: relative;

        h1.logo {
          width: 160px;
          height: 100%;
          left: 0;
          position: absolute;
          background-image: url(~assets/images/logo-color.png);
          background-repeat: no-repeat;
          background-position: center;
          background-size: 90%;
          cursor: pointer;
        }
        img.close {
          width: 36px;
          position: absolute;
          right: 0;
          -webkit-transform: rotate(180deg);
          -moz-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          -o-transform: rotate(180deg);
          transform: rotate(180deg);
          cursor: pointer;
        }
      }
      .user-box {
        width: 100%;
        margin-top: 24px;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        justify-content: center;

        button {
          width: 50%;
          height: 36px;
          display: -ms-flexbox;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 16px;
          border: 1px solid $color-999;
          color: $color-333;
        }
        button + button {
          margin-left: 12px;
        }
      }
      .member-box {
        width: 100%;
        margin-top: 24px;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;

        .profile {

          h2.user-name {

          }
        }
        button {
          margin-top: 12px;
          width: 50%;
          height: 36px;
          display: -ms-flexbox;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 16px;
          border: 1px solid $color-999;
          color: $color-333;
        }
        button + button {
          margin-left: 12px;
        }
      }
    }
    .body {
      width: 100%;
      margin-top: 24px;

      ul.menu-list {
        width: 100%;
        border-top: 1px solid $color-333;
        border-bottom: 1px solid $color-333;

        li.menu-item {
          width: 100%;
          height: 44px;
          display: -ms-flexbox;
          display: flex;
          align-items: center;
          padding-left: 18px;
          font-size: 16px;
          color: $color-333;
        }
        li + li {
          border-top: 1px solid $color-333;
        }
      }
    }
  }
  @media (max-width: $layout-md) {
    & {
      display: -ms-flexbox;
      display: flex;
      align-items: center;
    }
  }
}
</style>
