<template>
  <header :class="{ main : isMain }">
    <div class="header-layout">
      <HamburgerMenuArea />
      <SearchArea :class="{ main : isMain }" />
      <MenuArea :class="{ main : isMain }" />
    </div>
  </header>
</template>

<script>
import SearchArea from '@/components/common/header/SearchArea'
import MenuArea from '@/components/common/header/MenuArea'
import HamburgerMenuArea from '@/components/common/header/HamburgerMenuArea'
export default {
  name: 'Header',
  components: { HamburgerMenuArea, MenuArea, SearchArea },
  data() {
    return {
      titleHeaderPageList: [
        '/mypage',
        '/mypage/profile',
        '/mypage/wish',
        '/mypage/booking',
        '/mypage/coupoon',
      ],
    }
  },
  computed: {
    isMain() {
      return this.$route.path === '/'
    },
    isTitleHeaderPage() {
      return this.titleHeaderPageList.indexOf(this.$route.path) >= 0
    },
    pageName() {
      return this.$store.state.common.pageName
    },
  },
  created() {
    console.log('user', this.user)
  },
}
</script>
<style scoped lang="scss">
header {
  position: absolute;
  width: 100%;
  height: 70px;
  background-color: $color-white;

  &.main {
    background-color: $color-trans;
  }

  .header-layout {
    max-width: $layout-lg;
    height: 100%;
    margin: auto;
    display: flex;
    display: -ms-flexbox;
    align-items: center;
    justify-content: center;
    position: relative;

    .hamburger-menu-area {
      z-index: 1000;
    }
    .search-area {
      z-index: 999;
    }
    .menu-area {
      z-index: 998;
    }
  }
}

@media (max-width: $layout-lg) {
  header {
    padding: 0 12px;
  }
}
@media (max-width: $layout-md) {
  header {
    position: fixed;
    top: 0;
    height: 50px;
    padding: 0;
    background-color: $color-white;

    &.main {
      background-color: $color-white;
    }

    .header-layout {
      justify-content: unset;
    }
  }
}
</style>
