<template>
  <nav class="menu-area">
    <ul>
      <li>
        <nuxt-link tag="a" to="/promotion">
          테마여행
        </nuxt-link>/
      </li>
      <li>
        <nuxt-link tag="a" to="/help/notice">
          고객센터
        </nuxt-link>/
      </li>
      <li v-if="!user">
        <nuxt-link :to="`/auth/login?redirectUrl=${$route.path}`" tag="a">
          로그인
        </nuxt-link>/
      </li>
      <li v-else>
        <nuxt-link tag="a" to="/mypage">
          마이페이지
        </nuxt-link>/
      </li>
      <li v-if="!user">
        <nuxt-link :to="`/auth/signup?redirectUrl=${$route.path}`" tag="a">
          회원가입
        </nuxt-link>
      </li>
      <li v-else>
        <span @click.prevent="logout">로그아웃</span>
      </li>
    </ul>
  </nav>
</template>

<script>
export default {
  name: 'MenuArea',
  data() {
    return {}
  },
  computed: {
    user() {
      return this.$store.state.user
    },
  },
  methods: {
    logout() {
      this.$store.dispatch('dispatchLogout')
    },
  },
}
</script>
<style scoped lang="scss">
nav.menu-area {
  width: 100%;
  max-width: $layout-lg;
  position: relative;
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  justify-content: flex-end;

  ul {
    display: flex;
    display: -ms-flexbox;
    align-items: center;

    li {
      color: $color-black;

      a, span {
        color: inherit;
        font-size: 14px;
        letter-spacing: -1px;
        margin: 0 12px;
        cursor: pointer;
      }
    }
  }

  &.main {

    ul {

      li {
        color: $color-white;
      }
    }
  }

  @media (max-width: $layout-lg) {
    & {
    }
  }
  @media (max-width: $layout-md) {
    & {
      display: none;
    }
  }
}
</style>
