<template>
  <div class="search-area">
    <div class="input-box">
      <nuxt-link tag="h1" class="logo" to="/" />
      <input @keyup="onEnter" v-model="searchKeyword" type="text" placeholder="검색할 상품이나 지역을 입력해주세요">
      <img @click="onSearchKeyword" class="icon-search" src="~assets/images/icon-search.png" alt="Search Icon">
    </div>
  </div>
</template>

<script>
export default {
  name: 'SearchArea',
  data() {
    return {
      searchKeyword: '',
    }
  },
  methods: {
    onEnter(e) {
      if (e.keyCode === 13 && e.target.value) {
        this.onSearchKeyword()
      }
    },
    onSearchKeyword() {
      this.$router.push(`/search?keyword=${this.searchKeyword}&orderBy=SALES_COUNT&listType=search`)
    },
  },
}
</script>
<style scoped lang="scss">
.search-area {
  width: 100%;
  max-width: 580px;
  position: absolute;
  left: 0;

  &.main {
    top: 12.5vw;
    left: 0;
    right: 0;
    margin: auto;
  }

  .input-box {
    width: 100%;
    padding: 0 60px 0 160px;
    height: 45px;
    margin: 0 auto;
    position: relative;
    background-color: $color-white;
    border: 1px solid $color-e8;
    -webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);

    h1.logo {
      width: 160px;
      height: 100%;
      position: absolute;
      left: 10px;
      background-image: url(~assets/images/logo-color.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 90%;
      cursor: pointer;
    }

    input {
      width: 100%;
      height: 100%;
      padding-left: 16px;
      border: none;
      font-size: 15px;
    }

    .icon-search {
      width: 18px;
      height: 18px;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 12px;
      margin: auto;
      cursor: pointer;
    }
  }
}

@media (max-width: $layout-md) {
  .search-area {
    width: 420px;

    .input-box {
      height: 36px;
      padding: 0;

      h1.logo {
        width: 96px;
        left: 0;
      }

      input {
        padding-left: 96px;
        font-size: 12px;
        /*width: calc( 100% - 120px );*/
      }
      .icon-search {
        width: 14px;
        height: 14px;
        right: 6px;
      }
    }
    &, &.main {
      height: 100%;
      top: 0;
      right: 0;
      left: 24px;
      margin: auto;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
    }
  }
}

@media (max-width: $layout-sm) {
  .search-area {
    width: calc( 100% - 50px );

    &, &.main {
      left: auto;
      right: 6px;
      margin: 0;
    }
  }
}
</style>
