<template>
  <footer>
    <div class="user-area">
      <div class="sns-box">
        <a href="https://www.facebook.com" target="_blank" class="icon icon-facebook" />
        <a href="https://www.instagram.com" target="_blank" class="icon icon-instagram" />
        <a href="https://www.naver.com" target="_blank" class="icon icon-naver" />
        <a href="https://www.veltra.kr" target="_blank" class="icon icon-blog" />
      </div>
      <div class="language-box">
        <select>
          <option>한국어</option>
          <option>English</option>
        </select>
      </div>
    </div>
    <div class="info-area">
      <div class="help-box">
        <div class="help-menu">
          <ul>
            <li class="title">
              소개
            </li>
            <nuxt-link tag="li" to="/company/introduce">
              회사소개
            </nuxt-link>
            <nuxt-link tag="li" to="/company/partnership">
              벨트라 파트너쉽
            </nuxt-link>
          </ul>
          <ul>
            <li class="title">
              이용약관
            </li>
            <nuxt-link tag="li" to="/terms/basic">
              약관
            </nuxt-link>
            <nuxt-link tag="li" to="/terms/privacy">
              개인정보 취급방침
            </nuxt-link>
            <nuxt-link tag="li" to="/terms/cancel-and-change">
              취소 및 환불정책
            </nuxt-link>
          </ul>
          <ul>
            <li class="title">
              지원
            </li>
            <nuxt-link tag="li" to="/help/notice">
              공지사항
            </nuxt-link>
            <nuxt-link tag="li" to="/help/faq">
              자주 묻는 질문
            </nuxt-link>
            <nuxt-link tag="li" to="/help/qna">
              문의하기
            </nuxt-link>
          </ul>
        </div>
        <div class="help-button">
          <!--<button @click="onRequestHelp" class="">문의하기</button>-->
        </div>
      </div>
      <div class="authority-box">
        <p>대표이사:공성룡</p>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'Footer',
  data() {
    return {}
  },
  methods: {
    onRequestHelp() {
      console.log('도움을 요청합니다.')
    },
  },
}
</script>
<style scoped lang="scss">
footer {
  width: 100%;
  background-color: $color-999;

  .user-area {
    width: 100%;
    height: 72px;
    max-width: $layout-lg;
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    align-items: center;

    .sns-box {
      width: 100%;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .icon {
        display: block;
        width: 24px;
        height: 22px;
      }
      .icon-facebook {
        background-image: url(~assets/images/icon-sns-facebook.png);
      }
      .icon-instagram {
        background-image: url(~assets/images/icon-sns-instagram.png);
      }
      .icon-naver {
        background-image: url(~assets/images/icon-sns-naver.png);
      }
      .icon-blog {
        background-image: url(~assets/images/icon-sns-blog.png);
      }
    }
    .language-box {
      width: 100%;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
  .info-area {
    width: 100%;
    max-width: $layout-lg;
    margin: 0 auto;
    padding-top: 24px;

    .help-box {
      width: 100%;
      display: -ms-flexbox;
      display: flex;
      align-items: center;

      .help-menu {
        flex: 1 1 66.6666%;
        display: -ms-flexbox;
        display: flex;
        align-items: flex-start;
        justify-content: center;

        ul {
          width: 25%;

          li {
            width: 100%;
            color: $color-white;
            font-size: 16px;

            &.title {
              margin-bottom: 16px;
              font-weight: bold;
            }
          }
        }
      }
      .help-button {
        flex: 1 1 33.3333%;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        button {
          width: 240px;
          height: 40px;
          border: 1px solid $color-white;
          font-size: 16px;
          color: $color-white;
        }
      }
    }
    .authority-box {
      padding-top: 24px;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $color-white;

      p {
        color: $color-white;
      }
    }
  }
}
</style>
