<template>
  <section>
    <div class="login-area">
      <nuxt-link tag="h1" class="logo" to="/" />
      <div class="card login-card">
        <div class="header">
          <h2>로그인</h2>
        </div>
        <div class="body">
          <div class="naver-box">
            <NaverLoginButton :redirect-url="redirectUrl" />
          </div>
          <div class="division">
            ---------------&nbsp;&nbsp;<span>또는</span>&nbsp;&nbsp;---------------
          </div>
          <div class="email-box">
            <form @submit.prevent="onEmailLogin">
              <fieldset>
                <legend>Log in</legend>
                <div class="form-line">
                  <input v-model="userData.email" type="email" placeholder="이메일을 입력해주세요" required>
                </div>
                <div class="form-line">
                  <input v-model="userData.password" type="password" placeholder="비밀번호를 입력해주세요" required>
                </div>
                <div class="option-line">
                  <div class="checkbox">
                    <label for="checkbox">
                      <input id="checkbox" type="checkbox">
                      <span>체크박스</span>
                    </label>
                  </div>
                </div>
                <Button type="submit" class="primary" value="로그인" />
              </fieldset>
            </form>
          </div>
        </div>
        <div class="footer">
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import NaverLoginButton from '@/components/auth/login/NaverLoginButton'
import Button from '@/components/common/Button'
export default {
  name: 'login',
  components: { Button, NaverLoginButton },
  head() {
    return {
      title: '로그인',
      meta: [
        { hid: 'description', name: 'description', content: `로그인 - ${process.env.DESCRIPTION}` },
        { hid: 'keyword', name: 'keyword', content: `${process.env.KEYWORD}` },
        { hid: 'fb:app_id', name: 'fb:app_id', content: '12873892173892' },
        { hid: 'og:title', name: 'og:title', content: `로그인 ${process.env.TITLE_TEMPLATE}` },
        { hid: 'og:type', name: 'og:type', content: 'website' },
        { hid: 'og:description', name: 'og:description', content: `로그인 - ${process.env.DESCRIPTION}` },
        { hid: 'og:keyword', name: 'og:keyword', content: `${process.env.KEYWORD}` },
        { hid: 'og:url', name: 'og:url', content: `${process.env.BASE_URL}/` },
        { hid: 'og:image', name: 'og:image', content: './images/logo-veltra.jpg' },
        { hid: 'og:image:width', name: 'og:image:width', content: `${process.env.IMG_WIDTH}` },
        { hid: 'og:image:height', name: 'og:image:height', content: `${process.env.IMG_HEIGHT}` },
      ],
    }
  },
  data() {
    return {
      redirectUrl: '/',
      userData: {
        email: '',
        password: '',
      },
    }
  },
  asyncData({ store, params, query }) {
    console.log('params', params)
    console.log('query', query)
    return {
      redirectUrl: query.redirectUrl || '/',
    }
  },
  created() {
  },
  methods: {
    async onEmailLogin() {
      this.$cookies.set('veltra-redirect', this.redirectUrl)
      const loginResult = await this.$store.dispatch('dispatchLogin', this.userData)
      console.log('onEmailLogin loginResult', loginResult)
      if (loginResult) { this.$router.push(this.redirectUrl) }
    },
  },
}
</script>
<style scoped lang="scss">
section {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(~assets/images/bg-login-page.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  .login-area {
    width: 320px;
    padding-bottom: 40px;

    h1.logo {
      width: 160px;
      height: 40px;
      margin: auto;
      background-image: url(~assets/images/logo-white.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 90%;
      cursor: pointer;
    }
    .login-card {
      width: 100%;
      padding: 40px 30px;
      background-color: $color-white;

      .header {
        width: 100%;

        h2 {
          width: 100%;
          font-size: 18px;
          text-align: center;
        }
      }
      .body {
        width: 100%;

        .naver-box {

          button {

          }
        }
        .email-box {

          input, .button {
            width: 100%;
            height: 44px;
          }
        }
        .division {
          display: -ms-flexbox;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .footer {

      }
    }
  }
}
</style>
