<template>
  <button :type="type" :class="{'loading': loading}" :disabled="disabled" class="button">
    {{ `${loading ? '' : value}` }}
    <svg v-if="loading" class="spinner" width="25" height="25" viewBox="0 0 50 50">
      <circle
        :stroke="color"
        class="path"
        cx="25"
        cy="25"
        r="20"
        fill="none"
        stroke-width="5" />
    </svg>
  </button>
</template>

<script>
export default {
  name: 'Button',
  props: {
    loading: {
      type: Boolean,
      default: false,
    },
    value: {
      type: String,
      default: '',
    },
    type: {
      type: String,
      default: '',
    },
    strokeColor: {
      type: String,
      default: '',
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      color: 'white',
    }
  },
  watch: {
    loading(value) {
      console.log('Button loading', value)
    },
  },
  created() {
    this.color = this.strokeColor === '' ? 'white' : this.strokeColor
  },
  methods: {},
}
</script>

<style lang="scss" scoped>
button {
  width: 72px;
  height: 32px;

  &.primary {
    background-color: $color-veltra-orange;
    color: $color-white;

    .path {
      stroke: $color-white;
    }
  }

  &.white {
    border: 1px solid $color-veltra-orange;
    background-color: #fff;
    color: $color-veltra-orange;

    .path {
      stroke: $color-veltra-orange;
    }
  }
}

.loading {
  text-align: center;

  .spinner {
    position: relative;
    animation: rotate 2s linear infinite;
    display: flex;
    display: -ms-flexbox;
    margin: auto;

    .path {
      stroke-linecap: round;
      animation: dash 1.5s ease-in-out infinite;
    }
  }

  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes dash {
    0% {
      stroke-dasharray: 1, 150;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -124;
    }
  }
}
</style>
