<template lang="html">
  <div v-if="loading" class="loading-page">
    <Spinner size="md" />
  </div>
</template>

<script>
import Spinner from './Spinner'
export default {
  name: 'Loading',
  components: { Spinner },
  data: () => ({
    loading: false,
  }),
  methods: {
    start() {
      this.loading = true
    },
    finish() {
      this.loading = false
    },
  },
}
</script>

<style scoped lang="scss">
.loading-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(100, 100, 100, 0.35);
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
</style>
