<template>
  <div v-if="show" class="popup-layout">
    <div @click.stop="onClickOutside" class="popup-container">
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  name: 'PopupLayout',
  props: {
    opened: Boolean,
    disableClickOutside: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    show: {
      get() {
        return this.opened
      },
      set(value) {
        if (!value) {
        }
      },
    },
  },
  watch: {
    opened(value) {
      if (value) {
        if (typeof document !== 'undefined') {
          document.body.style.overflow = 'hidden'
        }
      } else {
        document.body.style.overflow = 'unset'
        document.body.style.position = 'relative'
      }
    },
  },
  methods: {
    onClickOutside() {
      if (!this.disableClickOutside) {
        this.show = false
      }
    },
  },
}
</script>

<style scoped lang="scss">
.popup-layout {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  z-index: 9999;

  .popup-container {
    width: 100%;
    height: 100%;
    display: flex;
    display: -ms-flexbox;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.75);
  }
}
</style>
