<template>
  <nuxt-link :to="`/product/${product.productCode}`" tag="div" class="product-card">
    <div class="image-box">
      <img :src="product.imageUrl" class="thumbnail" alt="Product Thumbnail Image" />
      <button @click.prevent="setWish" :class="{ on: product.wish }" class="icon icon-wish" />
      <button v-if="product.promotions" class="icon icon-promotion" />
    </div>
    <div class="product-box">
      <h5>{{ `${product.countryName} ${product.cityName}` }}</h5>
      <h4 class="line-clamp line-clamp-2">
        {{ product.productName }}
      </h4>
      <h3>{{ product.productPrice | currency }}원</h3>
    </div>
  </nuxt-link>
</template>

<script>
import numberFormat from '@/plugins/filters/numberFormat'

export default {
  name: 'ProductCard',
  filters: {
    currency: numberFormat.currency,
  },
  props: {
    product: {
      type: Object,
      default: null,
    },
  },
  data() {
    return {}
  },
  methods: {
    setWish() {
      this.$store.dispatch('common/dispatchPopup', {
        type: 'confirm',
        title: '찜하기',
        message: '로그인이 필요한 서비스입니다.<br>로그인 페이지로 이동하시겠습니까?',
        callback: () => {
          this.$router.push(`/auth/login?redirectUrl=${this.$route.path}`)
          this.$store.dispatch('common/dispatchClosePopup')
        },
      })
    },
  },
}
</script>
<style scoped lang="scss">
.product-card {
  width: 100%;
  cursor: pointer;

  .image-box {
    position: relative;
    width: 100%;
    height: 180px;
    overflow: hidden;
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/

    img.thumbnail {
      position: absolute;
      width: 100%;
      height: 100%;
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
      -webkit-transform:scale(1);
      -moz-transform:scale(1);
      -ms-transform:scale(1);
      -o-transform:scale(1);
      transform:scale(1);

      &:hover {
        -webkit-transform:scale(1.2);
        -moz-transform:scale(1.2);
        -ms-transform:scale(1.2);
        -o-transform:scale(1.2);
        transform:scale(1.2);
        -webkit-transition: all 0.25s ease;
        -moz-transition: all 0.25s ease;
        -o-transition: all 0.25s ease;
        transition: all 0.25s ease;
      }
    }
    .icon {
      width: 30px;
      height: 30px;
      position: absolute;
      top: 10px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      z-index: 10;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      border-radius: 15px;

      &.icon-wish {
        right: 10px;
        background-image: url(~assets/images/icon-wish-badge-off.png);

        &.on {
          background-image: url(~assets/images/icon-wish-badge-on.png);
        }
      }
      &.icon-promotion {
        right: 50px;
        background-image: url(~assets/images/icon-promotion-badge.png);
      }
    }
    .transparency {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.25);
      z-index: 9;
    }
  }
  .product-box {

    h5 {
      margin-top: 20px;
      font-size: 14px;
      font-weight: 300;
    }
    h4 {
      margin-top: 10px;
      font-size: 16px;
    }
    h3 {
      margin-top: 20px;
      font-size: 18px;
    }
  }
}

/* 반응형 카드 만들기 */
</style>
