<template>
  <section id="find-password">
  </section>
</template>

<script>
export default {
  name: 'find-password',
  head() {
    return {
      title: '패스워드 찾기',
      meta: [
        { hid: 'description', name: 'description', content: `패스워드 찾기 - ${process.env.DESCRIPTION}` },
        { hid: 'keyword', name: 'keyword', content: `${process.env.KEYWORD}` },
        { hid: 'fb:app_id', name: 'fb:app_id', content: '12873892173892' },
        { hid: 'og:title', name: 'og:title', content: `패스워드 찾기 ${process.env.TITLE_TEMPLATE}` },
        { hid: 'og:type', name: 'og:type', content: 'website' },
        { hid: 'og:description', name: 'og:description', content: `패스워드 찾기 - ${process.env.DESCRIPTION}` },
        { hid: 'og:keyword', name: 'og:keyword', content: `${process.env.KEYWORD}` },
        { hid: 'og:url', name: 'og:url', content: `${process.env.BASE_URL}/` },
        { hid: 'og:image', name: 'og:image', content: './images/logo-veltra.jpg' },
        { hid: 'og:image:width', name: 'og:image:width', content: `${process.env.IMG_WIDTH}` },
        { hid: 'og:image:height', name: 'og:image:height', content: `${process.env.IMG_HEIGHT}` },
      ],
    }
  },
  data() {
    return {}
  },
}
</script>
<style scoped lang="scss">

</style>
