<template>
  <section id="_place">
    {{ JSON.stringify(regionData) }}
    <br>
    {{ JSON.stringify(regionSubList) }}
  </section>
</template>

<script>
export default {
  name: 'RegionPlace',
  head() {
    return {
      title: `${this.regionData.areaPath}`,
      meta: [
        { hid: 'description', name: 'description', content: `${this.regionData.areaPath} - ${process.env.DESCRIPTION}` },
        { hid: 'keyword', name: 'keyword', content: `${process.env.KEYWORD}` },
        { hid: 'fb:app_id', name: 'fb:app_id', content: '12873892173892' },
        { hid: 'og:title', name: 'og:title', content: `${this.regionData.areaPath} ${process.env.TITLE_TEMPLATE}` },
        { hid: 'og:type', name: 'og:type', content: 'website' },
        { hid: 'og:description', name: 'og:description', content: `${this.regionData.areaPath} - ${process.env.DESCRIPTION}` },
        { hid: 'og:keyword', name: 'og:keyword', content: `${process.env.KEYWORD}` },
        { hid: 'og:url', name: 'og:url', content: `${process.env.BASE_URL}/` },
        { hid: 'og:image', name: 'og:image', content: './images/logo-veltra.jpg' },
        { hid: 'og:image:width', name: 'og:image:width', content: `${process.env.IMG_WIDTH}` },
        { hid: 'og:image:height', name: 'og:image:height', content: `${process.env.IMG_HEIGHT}` },
      ],
    }
  },
  data() {
    return {}
  },
  async asyncData({ params, store, error }) {
    console.log('params', params)
    let regionData = {}
    let regionSubList = []
    if (params.city) {
      regionData = await store.dispatch('region/dispatchCity', {
        areaCategoryCode: params.city,
      })
    } else if (params.country) {
      regionData = await store.dispatch('region/dispatchCountry', {
        areaCategoryCode: params.country,
      })
      regionSubList = await store.dispatch('region/dispatchCityList', {
        parentCategoryCode: params.country,
      })
    } else {
      error({ statusCode: 404, message: 'REGION_CODE_ERROR' })
    }
    return {
      regionData,
      regionSubList,
    }
  },
}
</script>
<style scoped lang="scss">

</style>
