<template>
  <div id="callback"></div>
</template>

<script>
export default {
  name: 'callback',
  data() {
    return {
      naverIdLogin: null,
      naverCallbackData: {},
    }
  },
  asyncData({ store, params, query, route }) {
    console.log('callback query', query)
    console.log('callback params', params)
    console.log('callback route', route)
  },
  created() {
  },
  mounted() {
    this.initNaverLogin()
  },
  methods: {
    initNaverLogin() {
      // eslint-disable-next-line no-undef
      this.naverIdLogin = new naver.LoginWithNaverId({
        clientId: process.env.NAVER_CLIENT_KEY,
        callbackUrl: process.env.CALLBACK_URL,
        isPopup: false,
        callbackHandle: true,
      })
      this.naverIdLogin.init()

      /* (4) Callback의 처리. 정상적으로 Callback 처리가 완료될 경우 main page로 redirect(또는 Popup close) */
      this.naverIdLogin.getLoginStatus(async(status) => {
        if (status) {
          console.log('getLoginStatus', status)
          console.log('naverLoginData', this.naverIdLogin.user)
          const loginResult = await this.$store.dispatch('dispatchSocialLogin', {
            email: this.naverIdLogin.user.email,
          })
          if (!loginResult) {
            this.$router.push(`/auth/signup/social?snsType=NAVER&type=SNS&email=${this.naverIdLogin.user.email}`)
          } else {
            this.$router.push(this.$cookies.get('veltra-redirect'))
          }
        } else {
          console.log('callback 처리에 실패하였습니다.')
        }
      })
    },
  },
}
</script>
<style scoped lang="scss">

</style>
