@import "variables";

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: $NotoKr;
  -webkit-font-smoothing: antialiased;;
  -webkit-overflow-scrolling: touch;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  color: $color-111;
  font-size: 14px;
}

html {
  width: 100%;
  height: auto;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

main {

  section {
    width: 100%;
    min-height: 100vh;
    padding-top: 70px;

    @media (max-width: $layout-md) {
      & {
        padding-top: 50px;
      }
    }
  }
}

ul {
  list-style: none;
}

a {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-decoration: none;
}

@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }
  @include optional-at-root(':-moz-placeholder') {
    @content;
  }
  @include optional-at-root('::-moz-placeholder') {
    @content;
  }
  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}

input,
textarea,
select {

  @include placeholder {
    color: rgba(0, 0, 0, 0.3);
  }
}

input[type=date] {
  -webkit-appearance: none;
}

::-webkit-inner-spin-button,
::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  //background-image: url("~/static/images/icon-arrow-down.svg");
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: right 8px center;
}

select::-ms-expand {
  display: none;
}

select option {
  font-weight: normal;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active {
  -webkit-animation: autofill 0s forwards;
  animation: autofill 0s forwards;
}

@keyframes autofill {
  100% {
    background: transparent;
    color: inherit;
  }
}

@-webkit-keyframes autofill {
  100% {
    background: transparent;
    color: inherit;
  }
}

input,
textarea {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

textarea {
  resize: none;
  outline: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;

  a {
    width: 100%;
    height: 100%;
    display: flex;
    display: -ms-flexbox;
    align-items: center;
    justify-content: center;
  }
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
  text-align: left;
}

.icon {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.banner-slider {

  .swiper-pagination {
    width: 1024px !important;
    height: 70px;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    display: -ms-flexbox;
    align-items: center;
    background-color: transparent;

    .swiper-pagination-bullet-wrapper {
      width: 2px;
      height: 2px !important;
      background-color: #fff !important;
      opacity: 1;
      -webkit-border-radius: 1px !important;
      -moz-border-radius: 1px !important;
      border-radius: 1px !important;
      -webkit-transition: width 0.2s;
      transition: width 0.2s;

      .swiper-pagination-bullet-item {

      }

      &.swiper-pagination-bullet-active {
        width: 40px;
      }
    }
    .swiper-pagination-bullet-wrapper + .swiper-pagination-bullet-wrapper {
      margin-left: 12px;
    }
  }

  @media (max-width: $layout-lg) {
    .swiper-pagination {
      padding: 0 12px;
    }
  }
}

.city-slider {
  position: relative;

  .swiper-pagination-wrapper {
    width: 100%;
    height: 20px;
    margin: auto;
    max-width: $layout-lg;
    position: absolute;
    top: -44px;
    left: 0;
    right: 0;
    display: -ms-flexbox;
    display: flex;
    align-items: center;

    .swiper-pagination-progressbar {
      width: 140px;
      height: 2px;
      position: absolute;
      right: 0;
      -webkit-border-radius: 1px;
      -moz-border-radius: 1px;
      border-radius: 1px;
      overflow: hidden;
      background: rgba(0,0,0,0.25);

      .swiper-pagination-progressbar-fill {
        background: $color-black;
      }
    }
  }
}

.product-slider {
  position: relative;

  .swiper-pagination-wrapper {
    width: 100%;
    height: 20px;
    margin: auto;
    max-width: $layout-lg;
    position: absolute;
    top: -44px;
    left: 0;
    right: 0;
    display: -ms-flexbox;
    display: flex;
    align-items: center;

    .swiper-pagination-progressbar {
      width: 140px;
      height: 2px;
      position: absolute;
      right: 0;
      -webkit-border-radius: 1px;
      -moz-border-radius: 1px;
      border-radius: 1px;
      overflow: hidden;
      background: rgba(0,0,0,0.25);

      .swiper-pagination-progressbar-fill {
        background: $color-black;
      }
    }
  }
}

.popup {
  width: 100%;
  max-width: 480px;
  background: $color-white;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;

  h2.header {
    padding: 12px 16px;
    font-size: 18px;
  }
  p.body {
    padding: 12px 16px;
    font-size: 14px;
  }
  .footer {
    padding: 12px;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .button {
      width: 96px;
      height: 36px;
    }
    .button + .button {
      margin-left: 12px;
    }
  }
}

.checkbox {
  display: -ms-flexbox;
  display: flex;

  label {
    height: 20px;
    margin: 0;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: relative;
    white-space: nowrap;
    cursor: pointer;

    input {
      display: none;
    }

    span {
      padding-left: 28px;
    }

  }

  label span::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    margin: 0;
    top: 0;
    left: 0;
    border-radius: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    z-index: 10;
    transition: all .25s ease-in-out;
  }

  label span::after {
    content: '';
    width: 7px;
    height: 12px;
    border: solid #ddd;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    position: absolute;
    left: 7px;
    top: 3px;
    z-index: 10;
    transition: all .25s ease-in-out;
  }

  input:checked + span::before,
  label:hover input:checked + span::before {
    background-color: #ff0f3b;
    border: 2px solid #ff0f3b;
  }

  input:checked + span::before {
    transition: all .25s ease-in-out;
  }

  input:checked + span::after {
    border-color: #fff;
    transition: all .25s ease-in-out;
  }
}

.radiobox {
  display: flex;
  display: -ms-flexbox;

  label {
    height: 20px;
    margin: 0;
    display: flex;
    display: -ms-flexbox;
    align-items: center;
    position: relative;
    white-space: nowrap;
    cursor: pointer;

    & > input {
      display: none;
    }

    & > span {
      padding-left: 28px;
      font-size: 20px;
    }

  }

  label > span::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    margin: 0;
    top: 0;
    left: 0;
    border-radius: 2px;
    border: 2px solid #ddd;
    background-color: #fff;
    z-index: 10;
    transition: all .25s ease-in-out;
  }

  label > span::after {
    content: '';
    /*width: 8px;
    height: 13px;*/
    width: 6px;
    height: 11px;
    border: solid #ddd;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    position: absolute;
    /*left: 8px;
    top: 4px;*/
    left: 6px;
    top: 2px;
    z-index: 10;
    transition: all .25s ease-in-out;
  }

  label > input:checked + span::before,
  label:hover > input:checked + span::before {
    background-color: #39d579;
    border: 2px solid #39d579;
  }

  input:checked + span::before {
    transition: all .25s ease-in-out;
  }

  input:checked + span::after {
    border-color: #fff;
    transition: all .25s ease-in-out;
  }
}

/* Begin required CSS. */
.line-clamp
{
  display            : block;
  display            : -webkit-box;
  -webkit-box-orient : vertical;
  position           : relative;

  line-height        : 1.24;
  overflow           : hidden;
  text-overflow      : ellipsis;
  padding            : 0 !important;
}
.line-clamp:after
{
  content    : '...';
  text-align : right;
  bottom     : 0;
  right      : 0;
  width      : 25%;
  display    : block;
  position   : absolute;
  height     : calc(1em * 1.2);
  background : linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 75%);
}
@supports (-webkit-line-clamp: 1)
{
  .line-clamp:after
  {
    display : none !important;
  }
}
.line-clamp-1
{
  -webkit-line-clamp : 1;
  height             : calc(1em * 1.2 * 1);
}
.line-clamp-2
{
  -webkit-line-clamp : 2;
  height             : calc(1em * 1.2 * 2);
}
.line-clamp-3
{
  -webkit-line-clamp : 3;
  height             : calc(1em * 1.2 * 3);
}
.line-clamp-4
{
  -webkit-line-clamp : 4;
  height             : calc(1em * 1.2 * 4);
}
.line-clamp-5
{
  -webkit-line-clamp : 5;
  height             : calc(1em * 1.2 * 5);
}
/* End required CSS. */
