// layout width
$layout-lg: 1080px;
$layout-md: 768px;
$layout-sm: 480px;

// colors
$color-trans: transparent;
$color-black: #000;
$color-111: #111;
$color-333: #333;
$color-30: #303030;
$color-999: #999;
$color-9e: #9E9E9E;
$color-db: #DBDBDB;
$color-e8: #E8E8E8;
$color-white: #FFF;
$color-veltra-orange: #E78E13;
$color-veltra-green: #8FB423;

// fonts
$NotoKr: "Noto Sans", "Noto Sans CJK KR", sans-serif;
