<template>
  <section>
    <div class="signup-area">
      <div class="card signup-card">
        <div class="header">
          <h2>회원가입</h2>
        </div>
        <div class="body">
          <NaverLoginButton :redirect-url="redirectUrl" />
          <input v-model="userData.name" placeholder="이름을 입력해주세요">
          <input v-model="userData.email" placeholder="이메일을 입력해주세요">
          <input v-model="userData.password" placeholder="비밀번호를 입력해주세요">
          <input v-model="checkPassword" placeholder="비밀번호를 확인해주세요">
          <Button @click.native.prevent="onSignUp" type="button" value="가입하기" />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Button from '@/components/common/Button'
import NaverLoginButton from '@/components/auth/login/NaverLoginButton'
export default {
  name: 'index',
  components: { NaverLoginButton, Button },
  head() {
    return {
      title: '회원가입',
      meta: [
        { hid: 'description', name: 'description', content: `회원가입 - ${process.env.DESCRIPTION}` },
        { hid: 'keyword', name: 'keyword', content: `${process.env.KEYWORD}` },
        { hid: 'fb:app_id', name: 'fb:app_id', content: '12873892173892' },
        { hid: 'og:title', name: 'og:title', content: `회원가입 ${process.env.TITLE_TEMPLATE}` },
        { hid: 'og:type', name: 'og:type', content: 'website' },
        { hid: 'og:description', name: 'og:description', content: `회원가입 - ${process.env.DESCRIPTION}` },
        { hid: 'og:keyword', name: 'og:keyword', content: `${process.env.KEYWORD}` },
        { hid: 'og:url', name: 'og:url', content: `${process.env.BASE_URL}/` },
        { hid: 'og:image', name: 'og:image', content: './images/logo-veltra.jpg' },
        { hid: 'og:image:width', name: 'og:image:width', content: `${process.env.IMG_WIDTH}` },
        { hid: 'og:image:height', name: 'og:image:height', content: `${process.env.IMG_HEIGHT}` },
      ],
    }
  },
  data() {
    return {
      redirectUrl: '/',
      userData: {
        name: '',
        email: '',
        password: '',
        type: 'NORMAL',
        termsIds: ['2', '3', '5'],
        isMarketing: 'N',
      },
      checkPassword: '',
    }
  },
  asyncData({ store, params, query }) {
    console.log('params', params)
    console.log('query', query)
    return {
      redirectUrl: query.redirectUrl,
    }
  },
  methods: {
    async onSignUp() {
      this.$cookies.set('veltra-redirect', this.redirectUrl)
      // const checkTokenResult = await this.$store.dispatch('dispatchCheckToken')
      const signUpResult = await this.$store.dispatch('dispatchSignUp', this.userData)
      if (signUpResult) { this.$router.push(this.$cookies.get('veltra-redirect')) }
    },
  },
}
</script>
<style scoped lang="scss">
section {

  .signup-area {

    .signup-card {

      input, .button {
        width: 100%;
        height: 44px;
      }
    }
  }
}
</style>
