<template>
  <div>
    <!--    <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=372514776950586&ev=PageView&noscript=1"/></noscript>-->
    <Header v-if="!isCallback" />
    <main>
      <nuxt />
    </main>
    <Footer v-if="!isCallback" />
    <PopupAlert />
  </div>
</template>
<script>
import Header from '@/components/common/header/Header'
import Footer from '@/components/common/footer/Footer'
import PopupAlert from '@/components/popup/PopupAlert'

export default {
  components: { PopupAlert, Footer, Header },
  computed: {
    isCallback() {
      return this.$route.path.indexOf('/auth/callback') === 0
    },
  },
}
</script>

<style scoped lang="scss">
header {
  z-index: 100;
}
main {
  z-index: 99;
}
</style>
