<template>
  <section>
    <div v-if="error.statusCode === 404" class="error error-404">
      <h2>
        요청하신 페이지를 찾을 수 없습니다.
      </h2>
      <nuxt-link tag="a" to="/" class="">
        홈으로
      </nuxt-link>
    </div>
    <div v-else-if="error.statusCode === 401" class="error error-401">
      <Spinner size="lg" />
    </div>
    <div v-else-if="error.statusCode === 400" class="error error-400">
      Bad Credential
    </div>
    <div v-else-if="error.statusCode === 102" class="error error-102">
      <h2>
        만료된 페이지입니다.
      </h2>
      <nuxt-link tag="a" to="/" class="">
        홈으로
      </nuxt-link>
    </div>
  </section>
</template>

<script>
import Spinner from '@/components/common/Spinner'

export default {
  name: 'NuxtError',
  components: { Spinner },
  props: {
    error: {
      type: Object,
      default: null,
    },
  },
  data() {
    return {}
  },
  created() {
    console.log('created error', this.error)
    switch (this.error.statusCode) {
      case 400:
        this.requestRefreshToken()
        break
      case 401:
        this.requestRefreshToken()
        break
      case 404:
        this.requestRefreshToken()
        break
      case 102:
        this.requestRefreshToken()
        break
    }
  },
  methods: {
    requestRefreshToken() {
    },
  },
}
</script>
<style scoped lang="scss">
section {
  width: 100%;
  height: 100vh;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .error {
    width: 100%;
    height: 100%;
    max-width: $layout-lg;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h2 {
      font-size: 24px;
    }

    a {
      display: inline-block;
      margin-top: 60px;
      font-size: 18px;
    }
  }
}
</style>
