<template>
  <section>
    <div class="container">
      <div class="area wide">
        <h2>인기있는 여행지</h2>
      </div>
      <div class="area">
        <h2>VELTRA 추천</h2>
      </div>
    </div>
    <br>
    <Button @click.native.stop="login" type="submit" value="로그인" class="primary" />
    <br>
  </section>
</template>

<script>
import Button from '@/components/common/Button'
export default {
  components: { Button },
  head() {
    return {
      title: '홈',
      meta: [
        { hid: 'description', name: 'description', content: `홈 - ${process.env.DESCRIPTION}` },
        { hid: 'keyword', name: 'keyword', content: `${process.env.KEYWORD}` },
        { hid: 'fb:app_id', name: 'fb:app_id', content: '12873892173892' },
        { hid: 'og:title', name: 'og:title', content: `홈 ${process.env.TITLE_TEMPLATE}` },
        { hid: 'og:type', name: 'og:type', content: 'website' },
        { hid: 'og:description', name: 'og:description', content: `홈 - ${process.env.DESCRIPTION}` },
        { hid: 'og:keyword', name: 'og:keyword', content: `${process.env.KEYWORD}` },
        { hid: 'og:url', name: 'og:url', content: `${process.env.BASE_URL}/` },
        { hid: 'og:image', name: 'og:image', content: './images/logo-veltra.jpg' },
        { hid: 'og:image:width', name: 'og:image:width', content: `${process.env.IMG_WIDTH}` },
        { hid: 'og:image:height', name: 'og:image:height', content: `${process.env.IMG_HEIGHT}` },
      ],
    }
  },
  data() {
    return {
    }
  },
  async asyncData({ store }) {
    await store.dispatch('common/dispatchSlideList')
  },
  // mounted() {
  //   window.addEventListener('beforeunload', function(e) {
  //     e.preventDefault()
  //     e.returnValue = ''
  //   })
  // },
  methods: {
    async login() {
      await this.$store.dispatch('dispatchLogin', {
        grant_type: 'password',
        username: 'jiho.park@veltra.com',
        password: 'ASDF1234',
        scope: 'read',
      })
    },
  },
}
</script>

<style scoped lang="scss">
section {
  padding-top: 0;

  .container {

    .area {
      margin: 50px auto 0 auto;
      width: 100%;
      max-width: $layout-lg;
      overflow-x: hidden;
      overflow-y: visible;

      &.wide {
        max-width: none;
      }

      h2 {
        width: 100%;
        max-width: $layout-lg;
        margin: auto;
        font-size: 20px;
        color: $color-111;
      }
      .city-slider {
        margin-top: 20px;
      }
      .product-slider {
        margin-top: 20px;
      }
    }
  }
}

@media (max-width: $layout-lg) {
  section {

    .container {

      .area {
        margin: 44px auto 0 auto;
        padding: 0 12px;

        .city-slider {
          margin-top: 16px;
        }
        .product-slider {
          margin-top: 16px;
        }
      }
    }
  }
}
@media (max-width: $layout-md) {
  section {
    margin-top: 50px;

    .container {

      .area {
        margin: 36px auto 0 auto;
        padding: 0 12px;

        .city-slider {
          margin-top: 12px;
        }
        .product-slider {
          margin-top: 12px;
        }
      }
    }
  }
}
</style>
