<template>
  <div @click.prevent="onNaverLogin" class="naver-login-button">
    <div class="box logo-box">
      <img src="~/assets/images/logo-naver.png" alt="Naver Logo" />
    </div>
    <div class="box text-box">
      <p>네이버 아이디로 로그인</p>
    </div>
    <div id="naverIdLogin" ref="naverIdLogin"></div>
  </div>
</template>

<script>
export default {
  name: 'NaverLoginButton',
  props: {
    redirectUrl: {
      type: String,
      default: '/',
    },
  },
  data() {
    return {
      naverIdLogin: null,
    }
  },
  mounted() {
    this.initNaverLogin()
  },
  methods: {
    onNaverLogin() {
      this.$refs.naverIdLogin.querySelector('img').click()
      this.$cookies.set('veltra-redirect', this.redirectUrl)
    },
    initNaverLogin() {
      if (this.naverIdLogin) {
        /* 설정정보를 초기화하고 연동을 준비 */
        this.naverIdLogin.init()
        this.naverIdLogin.getLoginStatus((status) => {
          if (status) {
            console.log('naver getLoginStatus', status)
          } else {
            console.log('callback 처리에 실패하였습니다.')
          }
        })
      } else {
        // eslint-disable-next-line no-undef
        this.naverIdLogin = new naver.LoginWithNaverId({
          clientId: process.env.NAVER_CLIENT_KEY,
          callbackUrl: process.env.CALLBACK_URL,
          callbackHandle: true,
          isPopup: false, /* 팝업을 통한 연동처리 여부 */
          loginButton: { color: 'green', type: 3, height: 40 }, /* 로그인 버튼의 타입을 지정 */
        })
        this.$nextTick(() => {
          this.initNaverLogin()
        })
      }
    },
  },
}
</script>
<style scoped lang="scss">
.naver-login-button {
  width: 100%;
  height: 44px;
  border: 1px solid $color-9e;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .box {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo-box {
    flex: 1 1 20%;

    img {
      width: 18px;
    }
  }
  .text-box {
    flex: 1 1 80%;

    p {
      width: 100%;
      border-left: 1px solid $color-9e;
      text-align: center;
      font-size: 14px;
      color: $color-30;
    }
  }

  #naverIdLogin {
    display: none;
  }
}
</style>
